<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ title }}</title>
    <link href="/static/citc.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
  </head>
  {% autoescape None %}
  <body>
    <div id="banner"></div>
    <div id="header">
      <h1>{{ title }}</h1>
    </div>
    {% if message is not None %}<div id="messagebox">
      <p>{{ message }}</p>
    </div>
    {% end %}
    <ul>
      <li><a href='/admin/users/manage'>User management</a></li>
      <li><a href='/admin/logoff'>Logoff</a></li>
    </ul>
    <div id="footer">
      <hr />
      <p class="legalese">&copy; 2011 CITC</p>
      <a href='mailto:ioc@citc.gov.sa'>Contact Administrator</a>
    </div>
  </body>
</html>
